.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 150px;
  background-color: #ccc;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  min-width: 300px;
  max-width: 800px;
  border: 10px solid #ddd;
  border-radius: 10px;
}

.calculator-display {
  display: block;
  width: calc(100% - 2rem);
  min-height: 100px;
  max-height: 200px;
  background-color: aquamarine;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 2rem;
  word-wrap: break-word;
  overflow-y: auto;
  text-align: end;
}

.calculator-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 1rem;
}

button {
  margin: 2px;
  border: 1px solid #555;
  border-radius: 5px;
  width: 60px;
  height: 40px;
  font-weight: bold;
  font-size: 1.2rem;
}

.calculator-operators {
  width: 80px;
}

.calculator-numbers {
  width: 100%;
}

.calculator-numbers button {
  width: 31%;
}
.calculator-numbers button:nth-child(1) {
  width: 96%;
}
.calculator-numbers button:nth-child(11) {
  width: 64%;
}
.calculator-operators button {
  width: 100%;
}

.btn-clear,
.btn-equal {
  background-color: aquamarine;
  width: 100px;
}
