.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space;
  text-align: center;
  background-color: #6c7c7b;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 150px;
  background-color: #7dbeba;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
}

/* Calculator */

.calculator-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 500px;
  min-width: 300px;
  max-width: 800px;
  border: 5px solid #333;
  background-color: #555;
  border-radius: 10px;
  margin: 1rem;
}

.calculator-display {
  display: block;
  width: calc(100% - 4rem);
  height: 150px;
  border-radius: 10px;
  background-color: #daf7a6;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 2rem;
  word-wrap: break-word;
  overflow-y: auto;
  text-align: end;
}

.calculator-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 1rem;
}

button {
  margin: 2px;
  border: 2px solid #333;
  border-radius: 5px;
  width: 60px;
  height: 40px;
  font-weight: bold;
  font-size: 1.2rem;
}

button:hover,
button:active,
button:focus {
  background-color: #999;
  color: white;
  cursor: pointer;
}

button:active {
  border: 2px solid black;
}

.calculator-operators {
  width: 80px;
}

.calculator-numbers {
  width: 100%;
}

.calculator-numbers button {
  width: 31%;
}
.calculator-numbers button:nth-child(1) {
  width: 96%;
}
.calculator-numbers button:nth-child(11) {
  width: 64%;
}
.calculator-operators button {
  width: 100%;
}

.btn-clear,
.btn-equal {
  background-color: #81de98;
  width: 100px;
}

.btn-clear {
  background-color: #ef8a7e;
}

/* History Logs */

.logs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 20%;
  min-width: 100px;
  max-width: 300px;
  padding: 1rem;
  margin: 0 0 0 1rem;
  background-color: #f6eddc;
  border-radius: 10px;
  overflow: auto;
}

.logs h3 {
  margin-top: 0;
}

.entry {
  word-wrap: break-word;
  text-align: end;
  overflow: auto;
  width: 100%;
  background-color: #f9e9ca;
  border-bottom: 1px solid #fbdfa9;
}

.entry:nth-child(2) {
  background-color: #fbdfa9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
}

.entry:last-child {
  border-bottom: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.entry p {
  padding: 0.5rem;
  margin: 0;
}
